* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    color: black;
    position: relative;
    font-family: "Lato", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.content {
    text-align: center;
}

.content #blog {
    background: #f0f0f0;
    padding: 100px 0px;
}

.content #blog .col-md-6.col-sm-6 {
    box-shadow: 0px 0px 3px rgb(99, 99, 99);
}

.content #blog figure {
    margin: 20px;
}