@import url("https://fonts.googleapis.com/css?family=Cousine");
#contact-us .title h1 {
    font-size: 1.75rem;
    margin: 1.8em;
}

#contact-us .container {
    background: rgb(247, 247, 247);
    box-shadow: 0px 10px 50px 5px rgb(164 164 164 / 37%);
    display: flex;
    height: 28rem;
    text-align: left;
    width: 50rem;
    border-radius: 20px;
}

#contact-us #map {
    height: 100%;
    width: 50%;
    background: rgb(247, 247, 247);
}

#contact-us .container__content {
    color: var(--white);
    margin: 2em 3em;
    padding: 0.5rem;
    background: rgb(247, 247, 247);
}

#contact-us .content__social {
    align-content: flex-end;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

#contact-us .content__social svg {
    margin-left: 0.95rem;
}

#contact-us .container__content hr {
    background-color: var(--pink);
    border: 0 none;
    color: var(--pink);
    height: 1px;
    margin-bottom: 1.5rem;
}

#contact-us .container__content h1 {
    font-size: 1.5rem;
}

#contact-us .content__icon {
    position: relative;
}

#contact-us .content__icon1 {
    top: -2.25rem;
}

#contact-us .content__icon2 {
    top: -2.25rem;
}

#contact-us .content__icon3 {
    top: 0.75rem;
}

#contact-us .content__address,
#contact-us .content__web,
#contact-us .content__phone,
#contact-us .container__content span {
    display: inline-block;
    font: 0.9rem/1.25 Cousine, monospace;
    padding-left: 0.5em;
    transition: color 0.5s;
}

#contact-us .credits {
    font-size: 0.8rem;
    margin: 50px;
    text-align: center;
}

#contact-us .credits a {
    color: #000;
    text-decoration: none;
}

#contact-us .credits a:hover {
    text-decoration: underline;
}

#contact-us {
    background: #f3f6fd;
    padding: 200px 0px;
}

/* media */
@media only screen and (max-width: 994px) {
    #contact-us {
        padding: 100px 0px;
    }

    #contact-us .container {
        background: rgb(247, 247, 247);
        /* box-shadow: none; */
        display: block;
        height: fit-content;
        text-align: left;
        width: 100%;
        padding: 10px;
        transform: scale(0.95);
    }
    
    iframe {
        border-radius: 10px 10px 0px 0p;
    }

    #contact-us #map {
        width: 100%;
    }

    #contact-us .container__content {
        color: var(--white);
        margin: 0;
        padding: 0.5rem;
        background: rgb(247, 247, 247);
        margin-top: 20px;
    }
}
