*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

register-form {
  display: block;
  z-index: 1;
}

register-form.hide {
  display: none;
}

register-form .bg-dark {
  width: 100%;
  height: 100%;
  background: #1f1c244a;
  position: absolute;
  top: 0px;
  left: 0px;
}

register-form {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: -webkit-center;
  z-index: 1;
}

register-form input,
register-form button {
  border: none;
  outline: none;
  background: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

register-form .tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

register-form .cont {
  overflow: hidden;
  text-align: left;
  width: 900px;
  background: #fff;
  position: fixed;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

register-form .cont.animation {
  animation-name: zoominoutsinglefeatured;
  animation-duration: 1s;
}

register-form .form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px;
}

register-form .form.hide {
  display: none;
}

register-form .sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}
register-form .cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

register-form button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

register-form .img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

register-form .img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}

register-form .img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

register-form .cont.s--signup .img:before {
  transform: translate3d(640px, 0, 0);
}

register-form .img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}

register-form .img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

register-form .img__text p {
  font-size: 14px;
  line-height: 1.5;
}

register-form .cont.s--signup .img__text.m--up {
  transform: translateX(520px);
}

register-form .img__text.m--in {
  transform: translateX(-520px);
}

register-form .cont.s--signup .img__text.m--in {
  transform: translateX(0);
}

register-form .img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

register-form .img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}

register-form .img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}

register-form .img__btn span.m--in {
  transform: translateY(-72px);
}

register-form .cont.s--signup .img__btn span.m--in {
  transform: translateY(0);
}

register-form .cont.s--signup .img__btn span.m--up {
  transform: translateY(72px);
}

register-form h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

register-form label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}

register-form label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}

register-form input,
register-form select {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

register-form select {
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

register-form .forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

register-form .submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

register-form .fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}
register-form .fb-btn span {
  font-weight: bold;
  color: #455a81;
}

register-form .sign-in {
  transition-timing-function: ease-out;
}
register-form .cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}

register-form .sign-up {
  transform: translate3d(-900px, 0, 0);
}

register-form .cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}

register-form .icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}

register-form .icon-link img {
  width: 100%;
  vertical-align: top;
}

register-form .icon-link--twitter {
  left: auto;
  right: 5px;
}

register-form label {
  display: inline-block;
}

@keyframes zoominoutsinglefeatured {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%) rotate3d(1, 0, 0, 50deg);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate3d(0, 0, 0, 0deg);
  }
}

.cardcontainer img {
  animation: zoominoutsinglefeatured 1s infinite;
}
