.room-contrainner {
    margin: 20px 0;
}
.room-contrainner select {
    background-color: #eff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
}
.contrainner {
    perspective: 1000px;
    margin-bottom: 30px;
}
.row {
    display: flex;
}
.row1 {
    display: flex;
}
.between {
    background-color: rgb(194, 191, 191);
    height: 150px;
    width: 800px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
.room {
    height: 30px;
    width: 70px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.room.select-room {
    background-color: aquamarine;
}
.room.full-room {
    background-color: rgb(243, 36, 36);
}
.room.still-room {
    background-color: rgb(245, 153, 120);
}
.room.notFull-room {
    background-color: greenyellow;
}
.showcase room:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}
.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: blue;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.showcase li small {
    padding-left: 3px;
}
