.room-planning{
    margin: 20px 0;
    width: 1200px;
    padding:100px ;
   
}
.room-contrainner {
    
    text-align: center;
   
}
.room-contrainner select {
    background-color: #eff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
   
}
.contrainner {
    perspective: 1000px;
    margin-bottom: 30px;
   
}
.row {
    display: flex;
    padding-left: 50px;
}
.row1 {
    display: flex;
}

.room {
    height: 50px;
    width: 100px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}
.room.select-room {
    background-color: aquamarine;
}
.room.full-room {
    background-color: rgb(243, 36, 36);
}
.room.still-room {
    background-color: rgb(245, 153, 120);
}
.room.notFull-room {
    background-color: greenyellow;
}
.showcase room:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}
.showcase {
    
    padding: 5px 200px;
    border-radius: 5px;
    color: rgb(175, 175, 248);
    list-style-type: none;
    display: flex;
    justify-content: 10%;
    width: 100%;
    margin: 0 20px;
    
    
}
    

.showcase li {
    display: flex;
    margin: 20px ;
    
    
}
.showcase li .select-room {
   
    background-color: aquamarine;
    border-radius: 30%;
   padding: 10px;
    
}
.showcase li .notFull-room {
   
    background-color: greenyellow;
    border-radius: 30%;
   padding: 10px;
    
}
.showcase li .still-room {
   
    background-color: rgb(248, 192, 87);
    border-radius: 30%;
    padding: 10px;
    
}
.showcase li .Full-room {
   
    background-color: rgb(240, 84, 84);
    border-radius: 30%;
   padding: 10px;
    
}
#form{
   padding-left: 20px;
    

}


